@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
}

div.ant-tabs-nav-wrap div.ant-tabs-nav-list {
  margin:  0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

div.ant-tabs div.ant-tabs-nav {
  margin:  0 auto;
}

div.ant-tabs div.ant-tabs-nav::before {
  border-bottom: unset;
}