@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.card-genre {
  height: 29px;
  overflow: hidden;
}

.card-image {
  position: absolute;
  width: 60px;
  height: 91px;
  top: 5px;
  left: 5px;
}

.card-info {
  padding: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 378px;
}

.card-title {
  height: 28px;
  overflow: hidden;
  margin: 0 0 0 65px;
  width: 253px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}

.card-date {
  margin: 7px 0 7px 65px;
  width: 83px;
  height: 22px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #827E7E;
}

.card-text {
  margin: 0;
  width: 378px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.card-stars {
  padding: 0px 0px 0px 9px;
  margin: auto 0px 0px auto;
  height: 27px;
  width: 239px;
}

div.card div.card-info ul.card-stars li {
  margin: 0px 0px 0px 3px;
}

.card-rank {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 2px solid#E90000;
  border-radius: 50%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
}

.lowRating {
  border-color: #E97E00;
}

.normalRating {
  border-color: #E9D100;
}

.highRating {
  border-color: #66E900;
}

.card {
  position: relative;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.09);
  display: flex;
  margin: 15px;
  width: 387px;
  height: 245px;
}

@media (min-width: 484px) {

  div.card div.card-info ul.card-stars li {
    margin: 0px 3px 0px 0px;
  }

  .card {
    position: unset;
    margin: 15px;
    width: 454px;
    height: 281px;
  }

  .card-title {
    margin: 0;
    width: 207px;
  }

  .card-image {
    width: 183px;
    height: 281px;
    position: unset;
    top: unset;
    left: unset;
  }

  .card-info {
    margin-left: 0;
    width: 251px;
    padding: 10px;
    height: unset;
  }

  .card-text {
    margin: 0;
    width: unset;
    min-height: unset;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #000000;
  }

  .card-stars {
    padding: unset;
    margin: auto 0px 0px auto;
  }

  .card-rank {
    top: 10px;
    left: 226px;
  }

  .card-date {
    margin: 7px 0px;
  }
} 