.main {
  background: #FFFFFF;
}

.movies-list {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media (min-width: 968px) {
  .main {
    margin: 0 auto;
    width: 968px;
  }
}

@media (min-width: 1936px) {
  .main {
    margin: 0 auto;
    width: 1936px;
  }
}